.RevenuesCard {
  border: solid #DFE0EB 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 342px;
  height: 109px;
  margin-left: 30px;
}

.RevenuesCard span {
  color: #9FA2B4
}

.RevenuesCard p {
  font-size: 20px;
  font-weight: 700;
}